.search {
	float: right;
	position: relative;
    right: 40px;
}
.input-group-btn {
	display: block;
}

.input-group-btn button {
	height: 34px;
}

.navbar {
	border: none;
	background-color: #4d90db;
	padding: 10px;
	border-radius: 0;
}

form {
	text-align: center;
	display: inline-block;
}

.pagination{
	float: right;
}